---
import AboutHeroImage from '../assets/frog.jpg'
import Layout from '../layouts/BlogPost.astro'
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 23 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		WORK IN PROGRESS
	</p>

	<p>
	</p>
</Layout>
