---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1>Hello, World!</h1>

	<p>
		Welcome to my small blog!
		I am Tano, a software engineer based in Córdoba's Republic.
		Here I will share my thoughts, some knowledge, progress related to personal projects, and other things related to tech.
	</p>
	<p>Here are my main topics of interest:</p>
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<p>Feel free to contact me through social media!</p>
</BaseLayout>
